<div class="row justify-content-center">
  <div *ngIf="!posts || posts?.length === 0; else elsePostsBlock">
    <p>Il n'y a pas de publications.</p>
  </div>
  <ng-template #elsePostsBlock>
    <div class="col-10 col-sm-7" *ngFor="let post of posts; trackBy: trackById">
      <div class="col card my-5 mb-3" *ngIf="post.statut === activeStatus">
        <a
          class="text-reset text-decoration-none"
          [routerLink]="'/posts/' + post.publication_id"
          (click)="selectPost(post)"
        >
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-1x1">
                <span
                  *ngIf="post.images.length === 0; else elseImageBlock"
                  class="text-secondary py-5 d-flex align-items-center justify-content-center"
                >
                  Pas d'image
                </span>
                <ng-template #elseImageBlock>
                  <img
                    [src]="'http://' + post.images[0].lien"
                    class="img-fluid rounded-start"
                    [alt]="post.images[0].libelle"
                  />
                </ng-template>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">{{ post.titre }}</h5>
                  <button
                    title="Ajouter aux favoris."
                    class="btn btn-outline-warning"
                    (click)="onStar($event, post.publication_id, currentUserId)"
                    *ngIf="!starInfo[post.publication_id]?.starred; else elseUnstarButtonBlock"
                  >
                    <i class="bi bi-star"></i>
                  </button>
                  <ng-template #elseUnstarButtonBlock>
                    <button
                      title="Supprimer des favoris."
                      class="btn btn-outline-warning"
                      (click)="onUnstar($event, post.publication_id, currentUserId)"
                    >
                      <i class="bi bi-star-fill"></i>
                    </button>
                  </ng-template>
                </div>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Par : {{ $any(post)['utilisateur']['nom'] }} {{ $any(post)['utilisateur']['prenom'] }}
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Le : {{ post.created_at | date | date : 'dd MMMM yyyy' : '' : 'fr' }}
                  </small>
                </p>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-around" (click)="stopPropagation($event)">
              <span *ngIf="post.utilisateur_id !== currentUserId">
                <button
                  title="Signaler la publication."
                  class="btn btn-outline-info mx-2"
                  (click)="onReport($event, post)"
                  *ngIf="!isAuthenticated || !reportInfo[post.publication_id]?.reported; else elseButtonBlock"
                >
                  <i class="bi bi-exclamation-triangle"></i>
                </button>
                <ng-template #elseButtonBlock>
                  <button title="Vous avez signalé la publication." class="btn btn-info mx-2 no-pointer">
                    <i class="bi bi-exclamation-triangle"></i>
                  </button>
                  <!--                  <button-->
                  <!--                    title="Vous avez signalé la publication."-->
                  <!--                    class="btn btn-info mx-2 no-pointer"-->
                  <!--                    (click)="onReport($event)"-->
                  <!--                  >-->
                  <!--                    <i class="bi bi-exclamation-triangle"></i>-->
                  <!--                  </button>-->
                </ng-template>
              </span>
              <!-- TODO -->
              <button
                title="Aimer."
                class="btn btn-outline-success"
                (click)="onLike($event, post.publication_id, currentUserId)"
                *ngIf="!likeInfo[post.publication_id]?.liked; else elseDislikeButton"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ likeInfo[post.publication_id]?.count | thousandSuffix }}
              </button>
              <ng-template #elseDislikeButton>
                <button
                  title="Ne plus aimer."
                  class="btn btn-success"
                  (click)="onDislike($event, post.publication_id, currentUserId)"
                >
                  <i class="bi bi-hand-thumbs-up-fill"></i>
                  {{ likeInfo[post.publication_id]?.count | thousandSuffix }}
                </button>
              </ng-template>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-template>
</div>
