<app-administration-reported-users-table
  [entityName]="entityName"
  [items]="reportedUsers"
  (deleted)="getReportedUsers()"
></app-administration-reported-users-table>

<ngb-pagination
  class="d-flex justify-content-center mt-5"
  aria-label="Posts pagination"
  [collectionSize]="collectionSize"
  [(page)]="page"
  [pageSize]="20"
  (pageChange)="onPageChange($event)"
  [maxSize]="3"
  [rotate]="true"
  [boundaryLinks]="true"
  *ngIf="collectionSize >= 1"
></ngb-pagination>

<app-back-to-top></app-back-to-top>
