<h1>Mon historique de {{ entityName }}s</h1>

<div class="d-flex justify-content-end" *ngIf="path">
  <button class="btn btn-outline-success" (click)="onAdd(path)">
    <i class="bi bi-plus-lg"></i>
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!--        <ng-container *ngFor="let item of $any(items[0]) | keyvalue">-->
        <!--          <th scope="col" *ngIf="item.key === 'publication_id'">{{ $any(item.key) | titlecase }}</th>-->
        <!--        </ng-container>-->
        <!--        <ng-container *ngFor="let item of $any(items[0]) | keyvalue">-->
        <!--          <th scope="col" *ngIf="item.key !== 'publication_id'">{{ $any(item.key) | titlecase }}</th>-->
        <!--        </ng-container>-->
        <ng-container *ngFor="let item of $any(items[0]) | keyvalue">
          <th scope="col" *ngIf="item.key !== 'publication_id'">{{ $any(item.key) | titlecase }}</th>
        </ng-container>
        <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <!--        <ng-container *ngFor="let prop of $any(item) | keyvalue">-->
        <!--          <th scope="row" *ngIf="prop.key === 'publication_id'">-->
        <!--            {{ prop.value }}-->
        <!--          </th>-->
        <!--        </ng-container>-->
        <ng-container *ngFor="let prop of $any(item) | keyvalue; let firstItem = first">
          <td *ngIf="prop.key !== 'publication_id'">
            {{
              prop.key !== 'created_at' && prop.key !== 'updated_at'
                ? prop.value
                : ($any(prop.value) | date | date : 'dd MMMM yyyy' : '' : 'fr')
            }}
          </td>
        </ng-container>
        <td>
          <button class="btn btn-outline-warning" (click)="onEdit(path, $any(item)[entityName + '_id'])" *ngIf="path">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="onDelete('publications', $any(item)[entityName + '_id'])">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--<div class="d-flex justify-content-center mt-5" *ngIf="posts$ | async">-->
<!--  <ngb-pagination-->
<!--    class="d-flex justify-content-center mt-5"-->
<!--    aria-label="Posts pagination"-->
<!--    [collectionSize]="items.length"-->
<!--    [(page)]="page"-->
<!--    (pageChange)="onPageChange($event)"-->
<!--    *ngIf="items?.length >= 1"-->
<!--  ></ngb-pagination>-->
<!--</div>-->

<app-back-to-top></app-back-to-top>
