<header role="banner" class="row no-gutters sticky-top">
  <div class="col-12 bg-light bg-gradient">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/logo/clm-logo-transparent.png" alt="CLM" class="logo-img" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!--          <div class="navbar-nav justify-content-center">-->
          <li class="nav-item dropdown" *ngIf="(isAuthenticated | async) && (isAdmin | async)">
            <a class="nav-link p-2 m-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  *ngFor="let backOfficeRoute of backOfficeRoutes"
                  class="dropdown-item"
                  [routerLink]="backOfficeRoute.path"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  {{ backOfficeRoute.label }}
                </a>
              </li>
            </ul>
          </li>
          <li class="navbar-nav justify-content-center" *ngIf="!(isAuthenticated | async); else elsePublierBlock">
            <a class="nav-link p-2 m-2" [routerLink]="'/login'">
              <button class="btn btn-outline-success">Publier</button>
            </a>
          </li>
          <ng-template #elsePublierBlock>
            <li class="navbar-nav justify-content-center">
              <a
                class="nav-link p-2 m-2"
                [routerLink]="'/posts/add'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <button class="btn btn-outline-success">Publier</button>
              </a>
            </li>
          </ng-template>
          <li class="navbar-nav justify-content-center">
            <a class="nav-link p-2 m-2" [routerLink]="'/posts'" [queryParams]="{ page: 1 }">Publications</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuthenticated | async">
            <a class="nav-link p-2 m-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mon espace
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  *ngFor="let userRoute of userRoutes"
                  class="dropdown-item"
                  [routerLink]="userRoute.path"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [queryParams]="userRoute.label !== 'Publications' ? null : { page: 1 }"
                >
                  {{ userRoute.label }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuthenticated | async">
            <a class="nav-link p-2 m-2" (click)="onLogoutClick()">Déconnexion</a>
          </li>
          <ng-container *ngIf="!(isAuthenticated | async)">
            <li class="navbar-nav justify-content-center">
              <a
                *ngFor="let visitorRoute of visitorRoutes"
                class="nav-link p-2 m-2"
                [routerLink]="visitorRoute.path"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                {{ visitorRoute.label }}
              </a>
            </li>
          </ng-container>
          <!--          </div>-->
        </div>
      </div>
    </nav>
  </div>
</header>
