<header role="banner" class="row no-gutters">
  <div class="col-12 bg-success bg-gradient bg-opacity-25">
    <nav role="navigation" class="my-3">
      <h1 class="p-2 my-auto">
        <a class="text-white text-decoration-none p-2" routerLink="/">
          <img src="./assets/logo/clm-logo-transparent.png" alt="CLM logo" class="logo-img" />
        </a>
      </h1>

      <ul class="d-flex justify-content-end list-unstyled">
        <li *ngFor="let route of routes">
          <a
            class="p-2 m-2"
            [routerLink]="route.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ route.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
