<header role="banner" class="row no-gutters sticky-top">
  <div class="col-12 bg-light bg-gradient">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/logo/clm-logo-transparent.png" alt="CLM" class="logo-img" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav justify-content-center">
            <a
              *ngFor="let initialRoute of initialRoutes"
              class="nav-link p-2 m-2"
              [routerLink]="initialRoute.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ initialRoute.label }}
            </a>
            <a *ngIf="isAuthenticated" class="nav-link p-2 m-2" (click)="onLogoutClick()"> Déconnexion </a>
            <ng-container *ngIf="!isAuthenticated">
              <a
                *ngFor="let visitorRoute of visitorRoutes"
                class="nav-link p-2 m-2"
                [routerLink]="visitorRoute.path"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                {{ visitorRoute.label }}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
