<div class="row">
  <!-- TODO -->
  <div class="col my-3" *ngIf="post">
    <div class="d-flex justify-content-between">
      <h1 class="my-3">{{ post.titre }}</h1>
      <div>
        <button
          title="Ajouter aux favoris."
          class="btn btn-outline-warning"
          (click)="onStar($event, post.publication_id, currentUserId)"
          *ngIf="!starInfo?.starred; else elseUnstarButtonBlock"
        >
          <i class="bi bi-star"></i>
        </button>
        <ng-template #elseUnstarButtonBlock>
          <button
            title="Supprimer des favoris."
            class="btn btn-outline-warning"
            (click)="onUnstar($event, post.publication_id, currentUserId)"
          >
            <i class="bi bi-star-fill"></i>
          </button>
        </ng-template>
      </div>
    </div>
    <p>
      <span
        class="badge rounded-pill text-bg-secondary"
        >{{ $any(post)['categorie']?.['libelle'] ?? 'sans catégorie' }}</span
      >
    </p>
    <p>
      <small class="text-body-secondary">
        Par :
        <a
          [routerLink]="'/users/profile/' + $any(post)['utilisateur']['pseudonyme']"
          class="fw-semibold mt-0 me-3 text-decoration-none text-reset"
        >
          {{ $any(post)['utilisateur']['nom'] }} {{ $any(post)['utilisateur']['prenom'] }}
        </a>
      </small>
      <br />
      <small class="text-body-secondary">Le : {{ post.created_at | date | date : 'dd MMMM yyyy' : '' : 'fr' }}</small>
    </p>
    <p></p>
    <!-- TODO -->
    <p *ngIf="true">{{ post.description }}</p>
    <div class="row justify-content-center">
      <div class="col-sd-auto col-md-6">
        <ngbd-carousel-basic [images]="post.images"></ngbd-carousel-basic>
      </div>
    </div>
    <span *ngIf="post.utilisateur_id !== currentUserId">
      <button class="btn btn-outline-info mx-2" (click)="onReport()" *ngIf="!isAuthenticated; else elseButtonBlock">
        <i class="bi bi-exclamation-triangle-fill"></i>
      </button>
      <ng-template #elseButtonBlock>
        <button class="btn btn-info mx-2 no-pointer">
          <i class="bi bi-exclamation-triangle-fill"></i>
        </button>
      </ng-template>
    </span>
    <!-- TODO -->
    <button
      title="Aimer."
      class="btn btn-outline-success"
      (click)="onLike(postId, currentUserId)"
      *ngIf="!likeInfo?.liked; else elseDislikeButton"
    >
      <i class="bi bi-hand-thumbs-up-fill"></i>
      {{ likeInfo?.count | thousandSuffix }}
    </button>
    <ng-template #elseDislikeButton>
      <button title="Ne plus aimer." class="btn btn-success" (click)="onDislike(postId, currentUserId)">
        <i class="bi bi-hand-thumbs-up-fill"></i>
        {{ likeInfo?.count | thousandSuffix }}
      </button>
    </ng-template>
    <!-- TODO -->
    <span *ngIf="post.utilisateur_id === currentUserId">
      <button class="btn btn-outline-warning mx-2" (click)="onEdit(post.publication_id)">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-outline-danger mx-2" (click)="onDelete('publications', postId)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </span>
  </div>
</div>
<hr class="my-4" />
<div class="row">
  <div class="col my-3" *ngIf="true">
    <app-post-comments [publicationId]="postId" [currentUserId]="currentUserId"></app-post-comments>
  </div>
</div>
