<div class="row">
  <div class="col my-3" *ngIf="user">
    <div class="d-flex justify-content-between">
      <h1 class="my-3">{{ user.pseudonyme }}</h1>
      <div>
        <button class="btn btn-outline-info" (click)="onReport()">
          <i class="bi bi-person-exclamation icon-large"></i>
        </button>
        <button class="btn btn-outline-info" (click)="onReport()">
          <i class="bi bi-person-fill-exclamation icon-large"></i>
        </button>
      </div>
    </div>
    <!-- TODO -->
    <section>
      <p>Publications : {{ postsCount }}</p>
      <p>Statut : {{ user.statut }}</p>
      <!--    <p>Réputation : {{ user.reputation }}</p>-->
      <p>Nom : {{ user.nom }}</p>
      <p>Prénom : {{ user.prenom }}</p>
      <p>Département : {{ user.departement }}</p>
      <p>Ville : {{ user.ville }}</p>
    </section>

    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-success" title="+1">
        <i class="bi bi-person-up icon-large"></i>
      </button>
      <!--    <button class="btn btn-outline-success">-->
      <!--      <i class="bi bi-person-fill-up icon-large"></i>-->
      <!--    </button>-->
      <button class="btn btn-outline-danger ms-5" title="-1">
        <i class="bi bi-person-down icon-large"></i>
      </button>
      <!--    <button class="btn btn-outline-danger ms-5">-->
      <!--      <i class="bi bi-person-fill-down icon-large"></i>-->
      <!--    </button>-->
    </div>
  </div>
</div>
