<div class="row">
  <div class="col my-3" *ngIf="user">
    <div class="d-flex justify-content-between">
      <h1 class="my-3">{{ user.pseudonyme }}</h1>
      <div>
        <button class="btn btn-outline-info" disabled (click)="onReport()">
          <i class="bi bi-person-exclamation icon-large"></i>
        </button>
        <!--        <button class="btn btn-info" (click)="onReport()">-->
        <!--          <i class="bi bi-person-exclamation icon-large"></i>-->
        <!--        </button>-->
      </div>
    </div>
    <!-- TODO -->
    <section>
      <p><b>Statut</b> : {{ user.statut }}</p>
      <p>
        <b>Réputation <i>(votes des utilisateurs)</i></b> :
        <span [ngClass]="{ '': reputation === 0, 'text-success': reputation >= 1, 'text-danger': reputation <= -1 }">
          {{ reputation <= 0 ? '' : '+' }}{{ reputation }}
        </span>
      </p>
      <p><b>Publications</b> : {{ postsCount }}</p>
      <p><b>Nom</b> : {{ user.nom }}</p>
      <p><b>Prénom</b> : {{ user.prenom }}</p>
      <p><b>Département</b> : {{ user.departement }}</p>
      <p><b>Ville</b> : {{ user.ville }}</p>
    </section>

    <div class="d-flex justify-content-center" *ngIf="usernameParam !== currentUsername">
      <button
        class="btn btn-outline-success"
        title="+1"
        (click)="onVote(1, 'upVote')"
        *ngIf="!vote || vote <= -1; else a"
      >
        <i class="bi bi-person-up icon-large"></i>
      </button>
      <ng-template #a>
        <button class="btn btn-success" title="0" (click)="onVote(-1)">
          <i class="bi bi-person-fill-up icon-large"></i>
        </button>
      </ng-template>
      <button
        class="btn btn-outline-danger ms-5"
        title="-1"
        (click)="onVote(-1, 'downVote')"
        *ngIf="!vote || vote >= 1; else b"
      >
        <i class="bi bi-person-down icon-large"></i>
      </button>
      <ng-template #b>
        <button class="btn btn-danger ms-5" title="0" (click)="onVote(1)">
          <i class="bi bi-person-fill-down icon-large"></i>
        </button>
      </ng-template>
    </div>
  </div>
</div>
