<app-administration-categories-table
  [entityName]="entityName"
  [items]="categories"
  (deleted)="getCategories()"
></app-administration-categories-table>

<ngb-pagination
  class="d-flex justify-content-center mt-5"
  aria-label="Pagination de catégories"
  [collectionSize]="collectionSize"
  [(page)]="pageParam"
  [pageSize]="20"
  (pageChange)="onPageChange($event)"
  [maxSize]="3"
  [rotate]="true"
  [boundaryLinks]="true"
  *ngIf="collectionSize >= 1"
></ngb-pagination>

<app-back-to-top></app-back-to-top>
