<div class="col">
  <h1 class="my-3">Liste des publications</h1>
  <div class="row justify-content-center">
    <form class="col-6 p-3" [formGroup]="form" *ngIf="form">
      <div class="mb-3">
        <label class="rounded form-label" for="recherche">Recherche d'annonces</label>
        <input
          class="form-control"
          type="search"
          id="recherche"
          name="recherche"
          placeholder="Rechercher par mot-clé (ex : bonjour le monde)"
          formControlName="recherche"
          required
          autofocus
        />
      </div>
    </form>
  </div>
  <div class="row justify-content-center">
    <form class="col-6 p-3" [formGroup]="filterForm" *ngIf="filterForm" (ngSubmit)="onFilterSubmit()">
      <div class="mb-3">
        <label class="form-label required" for="categorie">Catégorie</label>
        <select class="form-select" formControlName="categorie" id="categorie" aria-label="Sélection de catégorie">
          <option *ngFor="let categorie of categories" [value]="categorie.categorie_id">
            {{ categorie.libelle }}
          </option>
        </select>
        <small
          class="text-danger my-2"
          *ngIf="
            filterForm.get('categorie')?.touched &&
            filterForm.get('categorie')?.dirty &&
            filterForm.get('categorie')?.getError('min')
          "
        >
          Le champ est incorrect.
        </small>
        <button class="btn btn-outline-secondary mt-2">Filtrer</button>
      </div>
    </form>
  </div>

  <app-posts-list
    [currentUserId]="currentUserId"
    [isAuthenticated]="isAuthenticated$ | async"
    [likeInfo]="likeInfo$ | async"
    [starInfo]="starInfo$ | async"
    [posts]="posts$ | async"
    (selected)="selectPost($event)"
    (liked)="getPosts()"
    (disliked)="getPosts()"
    (starred)="getPosts()"
    (unstarred)="getPosts()"
  ></app-posts-list>
  <div class="d-flex justify-content-center mt-5" *ngIf="posts$ | async">
    <ngb-pagination
      aria-label="Pagination des publications"
      [collectionSize]="collectionSize"
      [(page)]="pageParam"
      [pageSize]="20"
      (pageChange)="onPageChange($event)"
      [maxSize]="3"
      [rotate]="true"
      [boundaryLinks]="true"
      *ngIf="$any(posts$ | async)?.length >= 1"
    ></ngb-pagination>
  </div>
  <app-back-to-top></app-back-to-top>
</div>
