<div class="col">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="commentaire">Ajouter un commentaire</label>
      <textarea
        class="form-control"
        id="commentaire"
        rows="3"
        name="commentaire"
        formControlName="commentaire"
        placeholder="Votre commentaire..."
        (click)="onTextAreaClick()"
      ></textarea>
      <div
        class="text-danger my-2"
        *ngIf="
          form.get('commentaire')?.touched &&
          form.get('commentaire')?.dirty &&
          form.get('commentaire')?.getError('minLength')
        "
      >
        Le champ doit contenir un commentaire.
      </div>
    </div>
    <button class="btn btn-outline-success" [disabled]="form.invalid" *ngIf="isAuthenticated">Commenter</button>
  </form>
</div>
