<h1>Historique de mes publications</h1>

<div class="table-responsive" *ngIf="posts$ && $any(posts$ | async)?.length >= 1">
  <table class="table table-striped">
    <thead>
      <tr>
        <ng-container *ngFor="let item of $any(posts$ | async)[0] | keyvalue; let firstItem = first">
          <th scope="col" *ngIf="firstItem; else elseThBlock">Identifiant</th>
          <ng-template #elseThBlock>
            <th scope="col">
              {{ $any(item.key) | titlecase }}
            </th>
          </ng-template>
        </ng-container>
        <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <ng-container *ngFor="let prop of $any(posts$ | async)[0] | keyvalue; let firstProp = first">
          <th scope="row" *ngIf="firstProp; else elseTd">
            {{ prop.value }}
          </th>
          <ng-template #elseTd>
            <td>
              {{ prop.value }}
            </td>
          </ng-template>
        </ng-container>
        <td>
          <!--        <button-->
          <!--          class="btn btn-warning"-->
          <!--          (click)="onEdit(path, $any(item)[entityName + '_id'])"-->
          <!--        >-->
          <!--          <i class="bi bi-pencil-fill"></i>-->
          <!--        </button>-->
          <button class="btn btn-warning" (click)="onEdit('', 0)">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
        <td>
          <!--        <button class="btn btn-danger" (click)="onDelete($any(item)[entityName + '_id'])">-->
          <!--          <i class="bi bi-trash-fill"></i>-->
          <!--        </button>-->
          <button class="btn btn-danger" (click)="onDelete(0)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    class="d-flex justify-content-center mt-5"
    aria-label="Posts pagination"
    [collectionSize]="(posts$ | async)?.length ?? 0"
    [(page)]="page"
    (pageChange)="onPageChange($event)"
  ></ngb-pagination>
</div>

<!-- TODO -->
<!--<app-back-to-top></app-back-to-top>-->
