<div class="col">
  <h1 class="my-3">Mot de passe oublié</h1>
  <form
    class="border border-secondary border-opacity-50 rounded p-3"
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label class="form-label required" for="email">Email</label>
      <input class="form-control" type="text" id="email" name="email" formControlName="email" required />
      <small
        class="text-danger my-2"
        *ngIf="form.get('email')?.touched && form.get('email')?.dirty && form.get('email')?.getError('email')"
      >
        Le champ doit contenir un courriel.
      </small>
    </div>
    <button class="btn btn-outline-success" [disabled]="form.invalid">S'inscrire</button>
  </form>
</div>
