<div class="col">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(userReport)">
    <div class="mb-3">
      <label class="form-label required" for="description">Modifier la description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        name="description"
        formControlName="description"
        placeholder="Votre description..."
        required="required"
      ></textarea>
      <div
        class="text-danger my-2"
        *ngIf="
          form.get('description')?.touched &&
          form.get('description')?.dirty &&
          form.get('description')?.getError('minLength')
        "
      >
        Le champ doit contenir une description.
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label class="form-label required" for="statut">Statut</label>
        <select class="form-select" formControlName="statut" id="statut" aria-label="Sélection de statut">
          <ng-container *ngFor="let status of statuses">
            <option [value]="status">
              {{ status !== 'ferme' ? status : 'fermé' }}
            </option>
          </ng-container>
        </select>
        <small
          class="text-danger my-2"
          *ngIf="form.get('statut')?.touched && form.get('statut')?.dirty && form.get('statut')?.getError('pattern')"
        >
          Le champ est incorrect.
        </small>
      </div>
    </div>
    <button class="btn btn-outline-warning" [disabled]="form.invalid">Modifier</button>
  </form>
</div>
