<div class="col">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label required" for="utilisateur_id">Identifiant de l'utilisateur</label>
      <input
        class="form-control"
        type="number"
        id="utilisateur_id"
        name="utilisateur_id"
        formControlName="utilisateur_id"
        required
        autofocus
      />
      <small
        class="text-danger my-2"
        *ngIf="
          form.get('utilisateur_id')?.touched &&
          form.get('utilisateur_id')?.dirty &&
          (form.get('utilisateur_id')?.getError('pattern') || form.get('utilisateur_id')?.getError('min'))
        "
      >
        Le champ doit contenir l'identifiant de l'utilisateur.
      </small>
    </div>
    <div class="mb-3">
      <label class="form-label required" for="description">Ajouter une description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        name="description"
        formControlName="description"
        placeholder="Votre description..."
        required="required"
      ></textarea>
      <div
        class="text-danger my-2"
        *ngIf="
          form.get('description')?.touched &&
          form.get('description')?.dirty &&
          form.get('description')?.getError('minLength')
        "
      >
        Le champ doit contenir une description.
      </div>
    </div>
    <button class="btn btn-outline-success" [disabled]="form.invalid">Ajouter</button>
  </form>
</div>
