/* You can add global styles to this file, and also import other style files */

.required:after {
  content: ' *';
  color: red;
}

/*#region table */
th,
td {
  vertical-align: middle;
}

.table-responsive {
  overflow-x: auto;
}
/*#endregion */

.no-pointer {
  cursor: default !important;
}
