<div class="col">
  <h1 class="my-3">Connexion</h1>
  <form
    class="border border-secondary border-opacity-50 rounded p-3 bg-white"
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label class="form-label required" for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" formControlName="email" required autofocus />
      <div
        class="text-danger my-2"
        *ngIf="form.get('email')?.touched && form.get('email')?.dirty && form.get('email')?.getError('email')"
      >
        Le champ doit contenir un email.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label required" for="mot_de_passe">Mot de passe</label>
      <input
        class="form-control"
        type="password"
        id="mot_de_passe"
        name="mot_de_passe"
        formControlName="mot_de_passe"
        required
      />
    </div>
    <button class="btn btn-outline-success" [disabled]="form.invalid">Se connecter</button>
    <a class="my-auto m-4 p-2" routerLink="/signup">S'inscrire</a>
    <a class="my-auto p-2" routerLink="/forgotten-password">Mot de passe oublié</a>
  </form>
</div>
