<div class="col">
  <h2 class="my-3">Connexion</h2>
  <form class="border border-secondary rounded p-3 bg-white" *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label required" for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" formControlName="email" required autofocus />
      <div
        class="text-danger my-2"
        *ngIf="form.get('email')?.touched && form.get('email')?.dirty && form.get('email')?.getError('email')"
      >
        Le champ doit contenir un email.
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label required" for="password">Mot de passe</label>
      <input class="form-control" type="password" id="password" name="password" formControlName="password" required />
    </div>
    <button class="btn btn-success" [disabled]="form.invalid">Se connecter</button>
    <a class="my-auto m-4 p-2" routerLink="/signup">S'inscrire</a>
  </form>
</div>
